* {
  margin: 0px;
  padding: 0px;
}

.promo {
  display: flex;
  align-items: center;
}

.promo__left {
  margin-right: 20px;
}

.promo picture {
  flex-shrink: 0;
}

.promo-text:last-child {
  margin-bottom: 0;
}

body {
  background: #EBEBEB;
}

.gallery {
  margin: 25px 0 15px;
  display: flex;
}

.gallery p {
  font-size: 16px !important;
}

.gallery-col {
  width: 50%;
}

p {
  margin: 10px 0;
}

body a:hover {
  cursor: pointer;
}

a img {
  border: none;
}

.clear {
  clear: both;
}

h1,
h2 {
  margin: 1em 0;
  color: #820000;
  text-align: left;
  font-weight: normal;
}

h1+h2 {
  margin-top: 0;
}

h3 {
  margin: 1em 0;
  color: black;
  text-align: center;
  font-weight: bolder;
}

h1 {
  font-size: 40px;
  line-height: 1em;
}

h2 {
  font-size: 28px;
  line-height: 140%;
}

.lastpack-wrap {
  margin-bottom: 10px;
  text-align: center;
}

.order_block {
  margin: 20px 0;
}

.lastpack {
  width: 60px;
  text-align: center;
  padding: 7px;
  border-radius: 5px;
  color: #fff;
  background-color: #de0606;
  font-weight: 700;
  font-size: 25px;
  display: inline-block;

}

#wrapper {
  margin: 0 auto;
  padding: 10px 10px 20px;
  min-height: 500px;
  width: 960px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  background: #fff;
  color: #3d3d3d;
  font-size: 16px;
  line-height: 1.4;
  max-width: 980px;
  width: 100%;
}

@media (min-width:769px) {
  #post {
    width: 70%;
    display: inline-block !important;
  }

  #side {
    width: 30% !important;
    top: 0px;
    margin-top: 0px;
    float: right
  }
}

#side2 {
  display: none;
}

@media (max-width: 768px) {
  #side {
    width: 100% !important;
    display: inline-block !important;
    top: 0px;
    margin-top: 0px;
    float: none;
    display: none !important;
  }

  #side2 {
    max-width: 400px !important;
    width: 100% !important;
    display: inline-block !important;
    top: 0px;
    margin: 0px auto;
    float: none;
    display: block !important;
  }

  #side ul {
    overflow: hidden;
    float: left;
  }

  #side li {
    width: 40% !important;
    margin: 20px;
    top: 0px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    float: left;
  }

  #post {
    width: 100%;
  }
}

@media(max-width:425px) {
  #side li {
    width: 90% !important;
    margin: 20px;
    top: 0px;
    padding-bottom: 10000px;
    margin-bottom: -10000px;
    float: left;
  }
}

#post {
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 630px;
}

h1.a1 {
  margin-bottom: 30px;
}

div span.h3 {
  width: 400px;
}

ul.testimonials {
  padding-top: 20px;
  border-radius: 5px;
  background: #fff;
  list-style: none;
}

ul.testimonials li.opinion {
  width: 100%;
  background-color: white;
  border: 3px inset green;
  margin: 20px 0px 20px 0px;
  padding: 0 10px 10px 10px;
  text-align: center;
  position: relative !important;
}

.redo {
  color: #CC0000;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.redoyel {
  font-family: arial;
  color: #CC0000;
  font-weight: bold;
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 25px;
}

ul.testimonials li.opinion:first-child {
  margin-top: 0;
}

ul.testimonials li.opinion:last-child {
  margin-bottom: 0;
}

ul.testimonials li.opinion h3 {
  color: red;
  font-size: 14pt;
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
  font-size: 20px !important;
  text-align: center;
}

a {
  color: blue;
  text-decoration: underline;
}

.rating {
  display: block;
}

ul.testimonials li.opinion img {
  display: block;
  margin: 10px auto 20px auto;
}

ul.testimonials li.opinion p {
  font-weight: normal;
  line-height: 1.3;
}

ul.testimonials li.opinion .author {
  line-height: 15pt;
  margin: 10px 0px 0px;
}

ul.testimonials li.opinion .author br {
  display: none;
}

.summary {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  border: 1px solid #CFCFCF;
  border-radius: 5px;
}

.summary tr {
  margin-bottom: 30px;
}

.summary td {
  vertical-align: top;
}

.summary td:first-child {
  margin-right: 10px;
  width: 260px;
}

.summary img {
  width: 200px;
}

.summary td p:first-child {
  margin-top: 0;
}

.summary ul {
  margin-top: -5px;
  margin-left: 60px;
}

span.h3 {
  color: #ff6000;
  font-size: 18px;
}

.orange {
  color: #ff6000;
}

.order {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 575px;
  background: #bdffbd;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
  border: 2px solid #009900;
}

.order #top {
  height: 14px;
}

.order input {
  width: 250px;
  height: 24px;
}

#footer {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

#footer a {
  color: #666;
}

#bottle {
  margin: 20px auto;
  width: 220px;
  text-align: center;
  position: relative;
}

#bottle_g {
  position: absolute;
  top: 0px;
  right: -35px;
  width: 80px;
}

#bottle img {
  display: block;
  margin: 0px auto 20px auto;
  /* [disabled]width:140px; */
}

.left {
  float: left;
}

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

p.center,
span.center,
p.center {
  text-align: center;
}

.right {
  float: right;
}

@media (min-width: 769px) {
  #post {
    width: 67%;
  }
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0
}

button,
html input[type="button"],
input[type="reset"] {
  border: 0;
  cursor: pointer;
  -webkit-appearance: button
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold
}

.w-input {
  display: block;
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  border: 1px solid #cccccc
}

.w-input:-moz-placeholder {
  color: #999
}

.w-input::-moz-placeholder {
  color: #999;
  opacity: 1
}

.w-input:-ms-input-placeholder {
  color: #999
}

.w-input::-webkit-input-placeholder {
  color: #999
}

.w-input:focus {
  border-color: #3898EC;
  outline: 0
}

.w-input[disabled],
.w-input[readonly],
fieldset[disabled] .w-input {
  cursor: not-allowed;
  background-color: #eeeeee
}

textarea.w-input {
  height: auto
}

.section {
  margin-bottom: 0px;
}

@media screen and (max-width: 767px) {

  .logo {
    margin-top: -14px;
    float: none;
  }
}

@media screen and (max-width: 479px) {

  .text-field-4 {
    width: 90%;
  }

  .logo {
    max-width: none;
    margin-top: 0px;
  }
}

@media only screen and (max-width: 768px) {
  .content h2 {
    font-size: 24px;
    text-align: center;
  }
}

@media screen and (max-width: 479px) {

  .text-field-4 {
    width: 90%;
  }

  .logo {
    max-width: none;
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {

  .logo {
    margin-top: -14px;
    float: none;
  }

  #post p,
  #post ul {
    text-align: left !important;
  }

  #post .infograph-text,
  #post .inL_666794,
  #post .gallery p {
    text-align: center !important;
  }

  #post .inL_85948,
  #post .inL_578593 {
    text-align: center !important;
  }

  #post .inL_264314 {
    text-align: right !important;
  }
}

.form {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  float: none;
  clear: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  white-space: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  height: 100%
}

body {
  margin: 0;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-bottom: 10px
}

h1 {
  font-size: 35px;
  line-height: 1.1;
  margin-top: 20px
}

h2 {
  font-size: 22px;
  line-height: 1.3;
  margin-top: 20px
}

h3 {
  font-size: 24px;
  line-height: 1.3;

  margin-top: 20px
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

#post p,
#post ul {
  font-size: 18px;
  text-align: justify;
}

figure {
  margin: 0;
  margin-bottom: 10px
}

figcaption {
  margin-top: 5px;
  text-align: center
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px
}

@media(max-width: 991px) {
  .inL_15721 {
    margin: 0 auto !important;
    max-width: 100% !important;
    float: none !important;
    width: 350px !important;
  }

  .testimonials {
    display: none;
  }

  #post {
    width: 100%;
    max-width: 100%;
    margin: 20px auto;
    padding: 0 15px;
  }

  #wrapper {
    padding: 0;
  }

  h1.a1 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
  }

  #post .promo-text {
    font-size: 18px;
  }

  .promo {
    flex-direction: column;
  }

  .promo__left {
    margin: 15px 0 0;
    order: 1;
  }
}

ul li p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul li,
ul li p,
ul li img {
  display: inline-block;
}

ul li:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 13px;
}

header ul {
  height: 82px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 10px;
}

header ul li {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.1;
  display: flex;
  align-items: center;
}

header ul li picture {
  flex-shrink: 0;
}

header a {
  color: #fff;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

header ul img {
  margin-right: 10px;
}

header ul li:last-of-type {
  margin-top: 0;
  margin-right: 0;
}

.list-item-2 {
  max-width: 400px;
}

.list-item-2 p {
  max-width: 150px;
  margin-bottom: 0;
  position: relative;
}

.list-item-3 {
  max-width: 240px;
}

.list-item-3 p {
  max-width: 120px;
  margin-bottom: 0;
  position: relative;
}

.list-item-4 {
  width: 100%;
  max-width: 220px;
}

.list-item-4 p {
  max-width: 90px;
  margin-bottom: 0;
  position: relative;
}

.list-item-5 p {
  max-width: 110px;
  margin-bottom: 0;
  position: relative;
}

.libo li {
  position: relative;
  margin-bottom: 10px;
}

.libo li::before {
  content: '';
  width: 5px;
  height: 5px;
  display: inline-block;
  position: absolute;
  top: 11px;
  left: -10px;
  background-color: black;
  transform: rotate(45deg);
}

@media(max-width: 966px) {}

.price {
  display: block;
}

.ac_footer {
  background-color: #000;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.ac_footer a {
  color: #A12000;
}

.ac_footer p {
  text-align: center;
}

img[height="1"],
img[width="1"] {
  display: none !important;
}

.yellowstar {
  color: gold !important;
  text-shadow: 1px 1px 1px black;
}

.no {
  color: lightgray !important;
  text-shadow: 1px 1px black;
}

.redoyel {
  line-height: 1.4;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em
  }
}

.redoyel {
  color: #CC0000;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.redoyel span {
  background: yellow;
}

@media (max-width: 768px) {
  #post {
    margin: 0px !important;
    padding-bottom: 20px;
  }

  #licznikProduktow {
    float: none !important;
    margin: 0 auto;
  }

  #licznikProduktow span:nth-child(1) {
    margin: 0 auto;
    display: block
  }
}

.infograph {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.infograph-column {
  align-items: center;
  justify-items: center;
  margin: 0;
  padding: 0;
  width: 33%;
  display: flex;
  flex-direction: column;
}

.infograph-prod {
  width: 200px;
  justify-self: center;
}

.infograph-img {
  margin: 0 auto;
  display: block;
}

.infograph-row {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infograph-text {
  width: 100%;
  margin-top: 10px;
  color: green;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 0px grey;
  text-align: center !important;
}

#post .infograph-text {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .infograph-arrow {
    display: none;
  }

  .infograph {
    margin: 0;
    flex-direction: column;
  }

  .infograph-column {
    width: 100% !important;
  }

  .infograph-prod {
    display: none;
  }

  .infograph-row {
    margin-bottom: 10px;
    flex-direction: row;
  }

  .infograph-rewerse picture:last-child {
    order: -1;
  }

  .infograph-text {
    margin-top: 0;
    padding-left: 10px;
  }

  #post .infograph-text {
    text-align: left !important;
  }

  .infograph-column:nth-child(2) .infograph-row:nth-child(2) {
    display: none;
  }

  .infograph-column:nth-child(3) .infograph-row:nth-child(2) {
    margin-bottom: 0;
  }
}

.ileProduktow {
  font-size: 45px;
  color: #000;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
}

#licznikProduktow {
  text-align: center;
  float: right;
  margin-top: 10%;
  margin-right: 20px;
}

#licznikProduktow p {
  font-size: 18px;
  font-weight: bold;
  word-wrap: break-word;
  max-width: 388px;
  padding-top: 20px;
}

.yellowstar {
  color: gold !important;
  text-shadow: 1px 1px 1px black;
}

.no {
  color: lightgray !important;
  text-shadow: 1px 1px black;
}

/*order_block*/

.price-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.prod-block {
  max-width: 670px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cpa__order_form {
  max-width: 300px;
}

.timer-wrap {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center !important;
}

.inL_408671 {
  margin-bottom: 10px;
  text-align: center !important;
  font-size: 18px;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 25px;
  line-height: 0;
  margin: 0 18px;
  white-space: nowrap
}

.js_old_price {
  margin: 0 18px;
  white-space: nowrap
}


.main-link {
  display: block;
  margin: 20px auto;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer
}

.main-link:hover {
  opacity: .8
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: 700
}

.prod_img_wrapper {
  max-width: 300px;
  margin: 0 auto 15px;
  position: relative;
  text-align: center;
}

.prod_img {
  width: 200px !important;
  margin-right: 50px !important;
  margin-bottom: 0 !important;
}

.price_main {
  border-bottom: 2px solid #d31812;
  font-size: 24px;
  line-height: 15px;
  margin: 0 auto;
}

.discountс {
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
}

.js_old_price {
  margin-bottom: 0 !important;
  display: block;
  text-align: center;
}

.js_old_price+p {
  margin-bottom: 0;
  text-align: center;
}

.js_old_price span {
  text-decoration: line-through;
}

.wheel_input {
  width: 100%;
  padding: 10px !important;
  display: block !important;
  margin: 0 auto 20px !important;
  padding: 10px !important;
  border: 2px solid grey !important;
  border-radius: 5px !important;
  box-sizing: border-box;
}

.data_label {
  line-height: 30px;
  display: block;
}

input::-ms-clear {
  display: none;
}

.main-link {
  display: block;
  margin: 20px auto 0;
  padding: 20px;
  font-size: 20px;
  text-decoration: none;
  background-color: #de0606;
  text-align: center;
  color: #fff !important;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.main-link:hover {
  opacity: 0.8;
}

.time_remains {
  font-size: 1.1em;
  color: red;
  font-weight: bold;
}

@media (max-width: 992px) {

  .prod-block {
    justify-content: center;
  }

  .prod_img {
    margin-right: 50px;
  }
}

@media (max-width: 639px) {
  .prod-block {
    flex-direction: column;
  }

  .prod_img {
    width: 190px !important;
    margin: 0 0 10px 0 !important;
  }

  .main-link {
    margin-top: 20px !important;
    margin-bottom: 0px !important;
  }
}

@media (max-width: 480px) {
  input {
    width: 90%
  }

  .inL_408671 {
    font-size: 18px;
  }
}

/*order_block END*/

.inL_369045 {
  background-color: #4f853b;
}

.inL_727205 {
  background-position: 5px 0px
}

.inL_725557 {
  width: 100%
}

.inL_532661 {
  background-position: 65px 0px
}

.inL_403352 {
  width: 100%
}

.inL_350023 {
  background-position: -80px 0px
}

.inL_288093 {
  width: 100%
}

.inL_328807 {
  background-position: -160px 0px
}

.inL_819752 {
  width: 100%
}

.inL_513461 {
  background-position: -160px -80px
}

.inL_400680 {
  width: 100%
}

.inL_600360 {
  background-position: -80px -80px
}

.inL_189629 {
  width: 100%
}

.inL_467767 {
  background-position: 0px -80px
}

.inL_173968 {
  width: 100%
}

.inL_463115 {
  background-position: 0px -80px
}

.inL_952968 {
  width: 100%
}

.inL_484917 {
  color: #820000;
}

.inL_15721 {
  width: 205px;
}

.cont-img {
  margin-top: 20px;
}

.inL_357252 {
  margin-top: 35px;
}

.inL_666794 {
  max-width: 630px;
  margin: 0 auto 20px;
  text-align: center !important;
  font-size: 16px !important;
  background-color: #ddd;
  padding: 2px 5px
}

.inL_731694 {
  margin-bottom: 15px;
}

.inL_743778 {
  display: flex;
}

.inL_731784 {
  margin-bottom: 15px;
}

.inL_298152 {
  text-align: center;
  margin: 0;
}

.inL_49505 {
  padding: 0 10px;
  text-align: center !important;
}

.inL_468402 {
  text-align: center;
  margin: 0;
}

.inL_712624 {
  padding: 0 10px;
  text-align: center !important;
}

.inL_995039 {
  display: block;
  margin: 20px auto;
}

.inL_580059 {
  clear: both
}

.inL_330819 {
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
}

.inL_933580 {
  display: block;
  float: right;
}

.inL_622475 {
  clear: both;
}

.inL_264314 {
  text-align: right !important;
}

.inL_578593 {
  text-align: center !important;
  margin-top: 30px;
  font-weight: bold;
}

.inL_154629 {
  color: #ff0000;
}

.inL_85948 {
  margin-bottom: 0;
  font-size: 16px;
  text-align: center !important;
  line-height: 140%;
}

.inL_200663 {
  background-position: 5px 0px
}

.inL_815269 {
  width: 100%
}

.inL_677067 {
  background-position: 65px 0px
}

.inL_564780 {
  width: 100%
}

.inL_255886 {
  background-position: -80px 0px
}

.inL_932736 {
  width: 100%
}

.inL_662649 {
  background-position: -160px 0px
}

.inL_826403 {
  width: 100%
}

.inL_94725 {
  background-position: -160px -80px
}

.inL_287299 {
  width: 100%
}

.inL_757273 {
  background-position: -80px -80px
}

.inL_847414 {
  width: 100%
}

.inL_29813 {
  background-position: 0px -80px
}

.inL_171073 {
  width: 100%
}

.inL_93397 {
  background-position: 0px -80px
}

.inL_486342 {
  width: 100%
}


@media(max-width: 639px) {
  h1.a1 {
    text-align: center;
    font-size: 22px;
  }

  .gallery {
    margin-bottom: 0px;
    flex-direction: column;
    align-items: center;
  }

  .gallery-col {
    width: 100%;
  }


}

@media(max-width: 479px) {
  h1.a1 {
    font-size: 25px;
  }

  header ul {
    justify-content: center;
  }

  header ul .list-item-2 {
    margin: 0 30px;
  }

  .inL_15721 {
    width: 300px !important;
  }

  .inL_666794 {
    max-width: 300px;
  }

  .infograph-column:nth-child(3) .infograph-row:nth-child(2) .infograph-text {
    margin-bottom: 0;
  }
}